/* CSS Document */

a
{
    color: inherit;
    text-decoration: inherit;
    font-weight: inherit;
}

body
{
	background-color:#FFFFFF;
}

iframe.wikiframe
{
	position:absolute;
	left:0;
	top:0;
	width:100%;
	height:100%;
	border:0;
	
	background-color:#FFFFFF;
}

.locked
{
    pointer_events: none;
}
/*					  BUTTSTRAP 					*/
div.buttstrap
{
	position:fixed;
	left: 0;
	top: 0;
	right: 0;
	transform:translateY(-100%);
	transition:all 250ms ease-in-out;
	
	box-shadow: 0 0 4px #212121;
	border-bottom:1px #212121 solid;
	
	background: linear-gradient(180deg, rgba(200,200,200,0.95), rgba(128,128,128,0.95));
}

div.buttstrap_open
{
	transform:translateY(0%);
}

div.buttstrap_label
{
	position:absolute;
	bottom:0;
	left:50%;
	width:100px;
	height:20px;
	text-align:center;
	transform:translateY(100%) translateX(-50%);
	cursor:pointer;
	
	background: linear-gradient(180deg, rgba(135,135,135,1), rgba(64,64,64,1));
	
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	box-shadow: 0 4px 4px #212121;

}

div.buttstrap_label:hover
{
	color:#FFFFFF;
}

div.buttstrap_content
{
    padding: 0.5rem;
}

div.buttstrap_arrow_container
{
    position: relative;
    display: flex;
    height: 1.5rem;
    line-height: 1.4rem;
}

div.buttstrap_arrow
{
    position: relative;
    box-sizing: border-box;
    white-space: nowrap;
    border:1px #212121 solid;
    box-shadow: 0 0 4px #212121;
    overflow: visible;
    padding-left: 2rem;
    padding-right: 2rem;
    display: inline-block;
    flex: 1;
    text-decoration: none !important;
    color: #FFFFFF !important;
    font-weight: bold;
}

div.buttstrap_arrow_active
{
    box-shadow: 0 0 4px 8px #F8F8F8;
}

div.buttstrap_arrow_active:after
{
    box-shadow: 6px -6px 3px 4px #F8F8F8 !important;
}

div.buttstrap_arrow_post:after
{
    position: absolute;
    right: -0.6rem;
    top:50%;

    height: 1rem;
    width: 1rem;
    content: " ";
    background-color: inherit;
    border:1px #212121 solid;
    border-bottom: none;
    border-left: none;
    transform: translateY(-50%)  rotate(45deg);
    box-shadow: 2px -2px 2px #212121;
}


/*					   DIALOG     					*/
div.dialog_background
{
    position: fixed;
    left: 0;
    top:0;
    width: 100%;
    height: 100%;
    opacity: 0.7;
    background-color: #212121;
    z-index: 998;
    display: none;
}

div.dialog_background_visible
{
    display:block;
}

div.dialog_frame
{
    position: fixed;
    left: 50%;
    top: 50%;
    background-color: #F8F8F8;
    transform: translate(-50%,-50%);
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(33,33,33,1);
    padding: 0;
    z-index: 999;
    width: 30rem;
}

div.dialog_label
{
    position: relative;
    width: 100%;
    font-family: arial, sans-serif;
    padding: 0.5rem;
    border-bottom: 1px rgba(33,33,33,0.7) solid;
    margin-bottom: 1rem;
    box-sizing: border-box;
    text-align: center;
    background-color: rgba(200,200,200,0.95);
    font-weight: bold;
}

div.dialog_content
{
    position: relative;
    min-height: 3rem;
}

div.dialog_text
{
    text-align: center;
    padding-left: 1rem;
    padding-right: 1rem;
}

div.dialog_tooltip
{
    position: relative;
    width: 100%;
    font-size: 2rem;
    clear: both;
}

div.dialog_tooltip_range
{

}

.dialog_input
{
    position: relative;
    width: 100%;
    box-sizing: border-box;
    min-height: inherit;
    padding: 0.5rem;
    line-height: 2rem;
    font-size: 1.5rem;
    margin: 0;
}

div.dialog_tooltip_range_hover_right
{
    position:absolute;
    right: 0;
    top:0;
    text-align:right;
}

div.dialog_buttons
{
    position: relative;
    width:100%;
    display: flex;
    height: 2rem;
    margin-top: 1rem;
}

.dialog_button
{
    flex: 1;
    border: 1px rgba(33,33,33,0.7) solid;
/*
	border-radius:0.3rem;
*/
    cursor: pointer;
    box-sizing: border-box;
    box-shadow: 0 1px 3px rgba(33,33,33,0.7);
    color:#212121;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
}

.dialog_button:hover
{
    text-shadow: 0 0 10px #FFFFFF;
}

/*
    ABORT
*/

div.abort_frame
{
    position: absolute;
    left: 0.2rem;
    bottom: 0.2rem;
    width: 10rem;
    border: 1px solid #212121;
    box-shadow: 0 0 4px #212121;
    overflow: hidden;
    height: 1.5rem;
    box-sizing: border-box;
}

div.abort_text
{
    position: absolute;
    left: 0;
    top: 0;
    height: 1.5rem;
    line-height: 1.3rem;
    width: 100%;
    box-sizing: border-box;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    cursor: pointer;
}

/*					   HINTS   				    	*/
/*						Core						*/

div.hints_frame
{
    position: absolute;
    left: 0;
    bottom: 1.7rem;
    width:10rem;
    padding: 0.2rem;
    overflow-x: hidden;
}

div.hint_frame
{
    position: relative;
    right: 0;
    top: 0;
    height: 1.5rem;
    line-height: 1.5rem;
    margin-top: 0.2rem;
/*
    border-radius: 0.75rem;
*/
    border:1px #212121 solid;
    box-shadow: 0 0 4px #212121;
    overflow: hidden;

    -webkit-animation: hint_animation 1s ease-in-out;
    animation: hint_animation 1s ease-in-out;
}

div.hint_text
{
    position: absolute;
    left: 0;
    top: 0;
    padding-right: 1.5rem;
    height: 1.5rem;
    line-height: 1.5rem;
    width: 100%;
    box-sizing: border-box;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-indent: 0.2rem;
    cursor: pointer;
}
div.hint_close
{
    position: absolute;
    right: 0;
    top: 0;
    width: 1.5rem;
    height: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
    cursor: pointer;
    font-size: 2rem;
    font-weight: bolder;
    border-left: 1px #212121 solid;
}

/*					Keyframes					*/

@keyframes hint_animation
{
    0%{right:100%;}
    100%{right:0;}
}

@-webkit-keyframes hint_animation
{
    0%{right:100%;}
    100%{right:0;}
}



/*					NOTIFICATIONS					*/
/*						Core						*/
div.notification_frame
{
	position:fixed;
	left:1rem;
	top:1rem;
	z-index:999;
	width:25rem;
    height:0;
    overflow: visible;
}

div.notification
{
	display:block;
	border:1px #212121 solid;
	font-family:Verdana, Geneva, sans-serif;
	font-size:10px;
	padding:0.3rem;
	margin-bottom:0.5rem;
	width:25rem;
/*
	border-radius:0.3rem;
*/
	overflow:hidden;
	
	opacity:0;
-webkit-animation: notification_animation 5s ease-in-out;
	animation: notification_animation 5s ease-in-out;
	
	box-shadow: 0 0 4px #212121;
}

/*					TUTORIAL					*/
div.tutorial_frame
{
    position:fixed;
    z-index:999;
    padding: 0.3rem;
    border:1px #212121 solid;
    font-family:Verdana, Geneva, sans-serif;
    max-width: 20%;
    box-shadow: 0 0 1rem 0.5rem rgba(33, 33, 33, 1);
}

div.tutorial_title
{
    position: relative;
    font-weight: bold;
    margin-right: 1rem;
    font-size:14px;
}
div.tutorial_text
{
    position: relative;
    font-size:12px;
    background-color: rgba(200,200,200,0.7);
    border: 1px #212121 solid;
    padding: 0.3rem;
    text-shadow:none;
}

div.tutorial_closer
{
    position: absolute;
    right: 0.3rem;
    top: 0.3rem;
    border: 1px #212121 solid;
    width: 0.8rem;
    height: 0.8rem;
    text-align: center;
    line-height: 0.6rem;
    cursor: pointer;
}

div.tutorial_frame_arrow:before
{
    border: 1rem solid transparent;
    content: " ";
    position: absolute;
    pointer-events: none;
}

div.tutorial_arrow_position_topleft:before
{
    border-bottom-color: #CCCCCC;
    bottom: 100%;
    left: 1rem;
}

div.tutorial_arrow_position_topcenter:before
{
    border-bottom-color: #CCCCCC;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
}

div.tutorial_arrow_position_topright:before
{
    border-bottom-color: #CCCCCC;
    bottom: 100%;
    right: 1rem;
}

div.tutorial_arrow_position_righttop:before
{
    border-left-color: #CCCCCC;
    top: 1rem;
    left: 100%;
}

div.tutorial_arrow_position_rightcenter:before
{
    border-left-color: #CCCCCC;
    top: 50%;
    left: 100%;
    transform: translateY(-50%);
}

div.tutorial_arrow_position_rightbottom:before
{
    border-left-color: #CCCCCC;
    bottom: 1rem;
    left: 100%;
}

div.tutorial_arrow_position_bottomright:before
{
    border-top-color: #CCCCCC;
    top: 100%;
    right: 1rem;
}

div.tutorial_arrow_position_bottomcenter:before
{
    border-top-color: #CCCCCC;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
}

div.tutorial_arrow_position_bottomleft:before
{
    border-top-color: #CCCCCC;
    top: 100%;
    left: 1rem;
}

div.tutorial_arrow_position_leftbottom:before
{
    border-right-color: #CCCCCC;
    bottom: 1rem;
    right: 100%;
}

div.tutorial_arrow_position_leftcenter:before
{
    border-right-color: #CCCCCC;
    top: 50%;
    right: 100%;
    transform: translateY(-50%);
}

div.tutorial_arrow_position_lefttop:before
{
    border-right-color: #CCCCCC;
    top: 1rem;
    right: 100%;
}

.default
{
	background: linear-gradient(180deg, rgba(200,200,200,0.95), rgba(128,128,128,0.95));
	
	text-shadow: 1px 1px 0 rgba(200,200,200,1), -1px -1px 0 rgba(200,200,200,1), -1px 1px 0 rgba(200,200,200,1), 1px -1px 0 rgba(200,200,200,1);
}


.emphasis
{
	background: linear-gradient(180deg, rgba(128,200,128,0.95), rgba(64,128,64,0.95));
	 
	text-shadow: 1px 1px 0 rgba(128,200,128,1), -1px -1px 0 rgba(128,200,128,1), -1px 1px 0 rgba(128,200,128,1), 1px -1px 0 rgba(128,200,128,1);
}

.confirm
{
    background: linear-gradient(180deg, rgba(128,200,128,0.95), rgba(64,128,64,0.95));

    text-shadow: 1px 1px 0 rgba(128,200,128,1), -1px -1px 0 rgba(128,200,128,1), -1px 1px 0 rgba(128,200,128,1), 1px -1px 0 rgba(128,200,128,1);
}

.confirm:hover
{
    background: linear-gradient(180deg, rgba(64,128,64,0.95), rgba(128,200,128,0.95));

}

.error
{
	background: linear-gradient(180deg, rgba(200,128,128,0.95), rgba(128,64,64,0.95));
	
	text-shadow: 1px 1px 0 rgba(200,128,128,1), -1px -1px 0 rgba(200,128,128,1), -1px 1px 0 rgba(200,128,128,1), 1px -1px 0 rgba(200,128,128,1);
}

.tutorial
{
    background: linear-gradient(180deg, rgba(128,128,200,0.95), rgba(64,64,128,0.95));

    text-shadow: 1px 1px 0 rgba(128,128,200,1), -1px -1px 0 rgba(128,128,200,1), -1px 1px 0 rgba(128,128,200,1), 1px -1px 0 rgba(128,128,200,1);
}

.hint
{
	background: linear-gradient(180deg, rgba(128,128,200,0.95), rgba(64,64,128,0.95));
	
	text-shadow: 1px 1px 0 rgba(128,128,200,1), -1px -1px 0 rgba(128,128,200,1), -1px 1px 0 rgba(128,128,200,1), 1px -1px 0 rgba(128,128,200,1);
}

.hint:hover
{
    background: linear-gradient(180deg, rgba(64,64,128,0.95), rgba(128,128,200,0.95));
}

.close
{
    background: linear-gradient(180deg, rgba(200,128,128,0.95), rgba(128,64,64,0.95));

    color: #FFFFFF;
}

.close:hover
{
    background: linear-gradient(0deg, rgb(204, 204, 204), rgba(255, 255, 255, 0.95));
    color: #FF0000;
}

div.notification_message_core
{
	width:25rem;
}
/*					Keyframes					*/

@keyframes notification_animation
{
	0%{opacity:0;width:0;}
	10%{width:100%;}
	15%{opacity:1;}
	85%{opacity:1;}
	90%{width:100%;}
	100%{opacity:0;width:0;}
}

@-webkit-keyframes notification_animation
{
	0%{opacity:0;width:0;}
	5%{width:100%;}
	10%{opacity:1;}
	85%{opacity:1;}
	90%{width:100%;}
	100%{opacity:0;width:0;}
}

/*					DEBUG					*/

div.debug_frame
{
    position: absolute;
    right: 0.2rem;
    bottom: 0.2rem;
    width: 10rem;
    border: 1px solid #212121;
    box-shadow: 0 0 4px #212121;
    overflow: hidden;
    height: 1.5rem;
    box-sizing: border-box;
}